<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TUGASKUUUUU</title>
    <link rel="stylesheet" href="/static/created.css">
<body>
    <div>
        <div>
            <h2>KUMPUL TUGAS SEKARANG</h2>
            <hr>
            <form action="/create" method="POST">
                <div>
                    <label>NAMA</label>
                    <input type="text" class="form-control" name="name" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label>LINK KUMPUL</label>
                    <input type="text" class="form-control" name="nama" autocomplete="off">
                </div>
                <div>
                    <a href="/">Back</a>
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>